#display {
    background-color: rgb(235, 235, 235);
    font-size: 3.5em;
    text-align: right;
    border: 3px solid black;
    border-radius: 5px;
    padding: 5px;
    font-family: arial;
    height: 2.2em;
    width: 6em;
    /* width: 334px; */
    margin-bottom: 20px;
}

#line1 {
    height: 64px;
    color: blue;
    
}

#line2 {
    height: 64px;
}

#container {
    max-width: 350px;
    text-align: center;
    margin: auto;
    margin-top: 100px;
}

#buttons {
    width: 22em;
}

.button {
    font-size: 3em;
    width: 3em;
    height: 1.5em;
    border-radius: 5px;
    border: solid rgb(112, 112, 112);
}

.zerobutton {
    width: 6.25em;
    font-size: 3em;
}

.row {
    display: flex;
    justify-content: space-between;
}

