@font-face {
    font-family: ds_digital;
    src: url(ds_digital/DS-DIGI.TTF);
}

@font-face {
    font-family: scientific;
    src: url(ScientificCalculatorLcdRegular-Kn7X.ttf);
}

#logo {
    color: white;
    font-family: "Goldman", cursive;
    /* width: 100%; */
    /* text-align: left; */
    /* margin-left: 20px;
    margin-right: 60px; */
    margin-right: 120px;
    display: inline-flex;
}

#model {
    font-family: 'Times New Roman', Times, serif;
    color:white;
    /* text-align: right; */
    /* margin-right: 20px;
    margin-left: 55px; */
    display: inline-flex;
}

#SVPAM {
    color: #df5267;
    font-family: "Goldman", cursive;
    margin-bottom: 20px;
    margin-top: -10px;
    display: block;
    font-size: 19px;
}

#displayborder {
    
    box-shadow: 0px 0px 25px rgb(59, 58, 58);
    
    margin: 0 1.5em;
    border-radius: 6px; */
}


#display {
    background-color: rgb(235, 235, 235);
    font-size: 3.5em;
    // 3.5em;
    text-align: right;
    /* border: 5px outset #3A4F6A; */
    box-shadow: 1px 1px 10px black inset;
    border-radius: 5px;
    padding: 5px;
    font-family: arial;
    height: 1.7em;
    width: 5.2em;
    /* width: 334px; */
    margin-bottom: 20px;
    margin-top: 50px;
    margin: auto;
}

#line1 {
    height: 50px;
    color: black;
    font-size: 0.4em;
    font-family: scientific;
}

#line2 {
    height: 50px;
    font-size: 1em;
    font-family: ds_digital;
}

#container {
    /* max-width: 350px; */
    width: 350px;
    text-align: center;
    margin: auto;
    /* margin-top: 100px; */
    background-color: #3A4F6A;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(32, 31, 31) inset;
}

#buttons {
    width: 19.1em;
    margin: auto;
    margin-top: 25px;
    padding-bottom: 30px;
}

.button {
    font-size: 2em;
    width: 3em;
    height: 1.5em;
    border-radius: 5px;
    /* border: solid rgb(112, 112, 112); */
    background-color: #B0ABAF;
    color: white;
    box-shadow: 0px 0px 7px rgb(59, 58, 58) inset;
}

.zerobutton {
    width: 6.75em;
    font-size: 2em;
    margin: 5px 0px 5px 0px
}

.row {
    display: flex;
    justify-content: space-between;
}

.red {
    background-color: #da3a52;
}

.left-button {
    margin: 5px 5px 5px 0;
}

.centre-button {
    margin: 5px 5px;
}

.right-button {
    margin: 5px 0 5px 5px;
}

.decimal-button {
    margin: 5px 5px 5px 10px;
}